.article {
    width: 100%;

    .container {
        all: none;
        margin: 0 auto;
        margin-top: 125px;

        .content {
            box-sizing: border-box;
            border: 1px solid #ffffff;
        }

        .ad {
            box-sizing: border-box;
            border: 1px solid #ffffff;
        }
    }
}