.container_window {
    border: 3px solid rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(12px);
    background: linear-gradient(        
        to bottom right,
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.35)
    );
}

.main_container_window:hover {
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.45)
    );
}