$theme: #090447;
$theme_2: #18085e;
$theme_3: #502385;
$theme_4: #9e5070;
$dark_theme: #121212;
$GoldenButtonColor: #e29b00;
$GoldenButtonHoverColor: #ffb30f;
$ButtonColor: #7227ff;
$ButtonHoverColor: #8d4fff;

$link_color: #3AA6D0;
$link_hover_color: #5ec4ec;
$link_active_color: #d03a3a;

$theme_gradient: linear-gradient(135deg, #0E085E 0%, #8A3E5E 100%);

$font_family: Roboto, Tahoma, Arial, Helvetica, sans-serif;
$unhighlighted_color: #cfcfcf;

.app {
    overflow-x: hidden;
    font-family: $font_family;
    color: white;

    .purple_light {
        position: absolute;
        left: -10px;
        z-index: -1;
        background: rgba(0, 0, 0, 0);
        width: 0px;
        height: 265px;
        flex-shrink: 0;
    }

    .blue_light {
        position: absolute;
        z-index: -1;
        background: rgba(0, 0, 0, 0);
        width: 0px;
        height: 25px;
        flex-shrink: 0;
    }

    .main {
        width: 100%;
        background: $theme_gradient;
        overflow: hidden;

        .main_container {
            margin: 140px auto;
            box-sizing: border-box;
            position: relative;

            .main_text {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: flex-start;

                .main_title {
                    z-index: 1;
                    color: #FFF;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 16px 0;
                }

                .main_content {
                    z-index: 1;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 16px 0;
                }

                .main_action {
                    z-index: 1;
                    width: 100%;
                    margin: 16px 0;
                }
            }

            .particlesContainer {
                pointer-events: none;
                user-select: none;
                position: absolute;
                top: -120px;
                right: 0;
                width: 100%;
                height: 100vh;
                z-index: 0;

                .badgeRain {
                    position: absolute;
                    z-index: 1;
                }
            }

            .wampus {
                position: absolute;
                animation: wampusFly 6s ease-in-out infinite;
                -webkit-animation: wampusFly 6s ease-in-out infinite;
                z-index: 4;
            }

            .tgIcon_big {
                opacity: 0.4;
                position: absolute;
                flex-shrink: 0;
                z-index: 3;
                animation: wave 15s ease-in-out infinite;
                -webkit-animation: wave 15s ease-in-out infinite;
            }

            .discordIcon {
                opacity: 0.4;
                position: absolute;
                z-index: 2;
                animation: wave 8s ease-in-out infinite;
                -webkit-animation: wave 8s ease-in-out infinite;
            }

            .bubble4 {
                opacity: 0.4;
                position: absolute;
                z-index: 2;
                animation: wave 15s ease-in-out infinite;
                -webkit-animation: wave 15s ease-in-out infinite;
            }

            .bubble4_1 {
                opacity: 0.3;
                position: absolute;
                flex-shrink: 0;
                animation: wave 15s ease-in-out infinite;
                -webkit-animation: wave 15s ease-in-out infinite;
            }

            .chatGPT {
                width: 120px;
                height: 120px;
                border-radius: 240px;
                opacity: 0.35;
                flex-shrink: 0;
                position: absolute;
                animation: wave 15s ease-in-out infinite;
                -webkit-animation: wave 15s ease-in-out infinite;
                -webkit-border-radius: 240px;
                -moz-border-radius: 240px;
                -ms-border-radius: 240px;
                -o-border-radius: 240px;
            }

            .spotify {
                border-radius: 240px;
                opacity: 0.35;
                flex-shrink: 0;
                position: absolute;
                animation: wave 15s ease-in-out infinite;
                -webkit-animation: wave 15s ease-in-out infinite;
                -webkit-border-radius: 240px;
                -moz-border-radius: 240px;
                -ms-border-radius: 240px;
                -o-border-radius: 240px;
            }
        }
    }

}

.mobile_container {
    margin-top: 180px;
    width: 100%;
    height: 100px;
    z-index: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .mobile_title {
        font-weight: 500;
        font-size: 50px;
    }

    .mobile_subtitle {
        font-size: 32px;
        text-align: center;
    }

}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    &:hover {
        color: #d6d6d6;
    }
}

.logo512 {
    user-select: none;
    cursor: pointer;
    border-radius: 100%;
    margin: 6px 12px 6px 0px;
    width: 54px;
    height: 54px;
}

.inner_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.main_container_images {
    flex: 6;
    height: 100%;
}

.signup_container {
    margin-top: 200px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: $font_family;
    color: #ffffff;

    .signup_title {
        margin: 10px;
        font-size: 34px;
        font-weight: 500;
    }

    .signup_subtitle {
        margin-bottom: 16px;
        font-size: 17px;
        font-weight: 300;
    }

    .signup_form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        * {
            font-size: 20px;
            margin: 5px;
        }

        input {
            width: 300px;
            padding: 4px;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
}

.burger_menu {
    display: flex;
    justify-content: flex-end;
}

.dark_header {
    transition: 0.3s all;
    background: rgba(0, 0, 0, 0.3);
}

.other_networks {
    margin: 0 auto;
    margin-bottom: 64px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;

    .net_title {
        width: 100%;
        font-weight: 300;
        font-size: 42px;
        padding-top: 135px;
        padding-bottom: 20px;
    }

    .net_big_items {
        width: 100%;
        display: grid;

        .net_big_item {
            display: flex;
            align-items: center;
            margin-right: 30px;
            font-size: 30px;

            a {
                margin: 14px;
            }
        }
    }
}


.goodList_title {
    color: #FFF;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 32px;
}

.goodList {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;

    .goodItem {
        width: 340px;
        height: 460px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(43, 43, 43, 0.50);
        backdrop-filter: blur(8px);
        border: 3px solid rgba(255, 255, 255, 0.45);
        margin-bottom: 72px;

        &_image {
            border: 3px solid rgba(255, 255, 255, 0.45);
            margin: 0 auto;
            margin-top: 16px;
            border-radius: 10px;
            width: 302px;
            height: 245px;
        }

        &_top {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 12px 16px;

            .goodItem_title {
                color: #FFF;
                font-size: 18.5px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;

                &:hover {
                    color: #fbccff;
                }
            }

            .goodItem_cost {
                color: #FFDA16;
                border-radius: 10px;
                border: 2px solid #FFDA16;
                background: rgba(226, 155, 0, 0.10);
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                width: 55px;
                height: 25px;
                flex-shrink: 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: rgba(226, 155, 0, 0.25);
                }
            }
        }

        &_middle {
            .goodItem_subtitle {
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #C7C7C7;
                margin: 4px 16px;
            }

            .goodItem_readMore {
                margin: 8px 16px;
            }

        }

        .goodItem_buyButton {
            font-size: 18px;
            position: absolute;
            bottom: 16px;
            right: 16px;
            padding: 6px 32px;
            margin: 0;
            border-radius: 10px;
        }
    }
}

.botOrder {

    margin-top: 100px;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;

    .botOrder_container {
        margin: 0 auto;
        display: flex;
        align-items: start;
        flex-flow: column;
        position: relative;
        width: 1170px;

        .botOrder_top {
            margin-bottom: 116px;
            width: 100%;
            height: 322px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            align-items: center;
            flex-flow: row nowrap;

            .botOrder_bots {
                width: 499px;
                height: inherit;
                display: flex;
                align-items: start;
                justify-content: space-between;
                flex-flow: column nowrap;

                .botOrder_desc {
                    margin-top: 52px;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-flow: column nowrap;
                    width: 100%;
                    min-height: 150px;

                    .title {
                        margin-bottom: 8px;
                    }
                }

                .botOrder_dcIcon {
                    width: 100px;
                    height: 100px;
                    top: 215px;
                    left: 190px;
                }

                .botOrder_tgIcon {
                    width: 120px;
                    height: 120px;
                    top: 265px;
                    left: -46px;
                }

                .botOrder_button {
                    z-index: 1;
                    margin: 0;
                    color: #60F6FF;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 18px 48px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    border: 3px solid #60F6FF;
                    background: rgba(96, 246, 255, 0.10);
                    backdrop-filter: blur(4px);

                    &:hover {
                        background: rgba(96, 246, 255, 0.2);
                    }
                }
            }

            .botOrder_devider {
                height: inherit;
                width: 172px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            .botOrder_scripts {
                width: 499px;
                height: inherit;
                display: flex;
                align-items: start;
                justify-content: space-between;
                flex-flow: column nowrap;

                .botOrder_desc {
                    position: relative;
                    margin-top: 52px;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-flow: column nowrap;
                    width: 100%;
                    min-height: 150px;

                    .title {
                        margin-bottom: 8px;
                    }

                    .botOrder_linkToShop {
                        margin-top: 20px;
                        font-size: 24px;
                    }
                }

                .botOrder_GPTIcon {
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    width: 100px;
                    height: 100px;
                    position: absolute;

                    bottom: 420px;
                    right: 0px;
                }
            }
        }

        .botOrder_bottom {
            width: 100%;
            min-height: 333px;
            display: flex;
            align-items: center;
            justify-content: center;

            .botOrder_videoBlock {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 499px;
                height: 304px;
                border-radius: 10px;
                background: #1C1C1C;
                margin-right: 49px;
                overflow: hidden;
            }

            .botOrder_scriptsBlock {
                position: relative;
                width: 587px;
                height: 304px;
                border: 1px solid white;
            }
        }
    }
}

// Common styles for 4th block (Bot order / Script shop)

.botOrder_bg {
    background: linear-gradient(135deg, #005156 0%, #042566 100%);
}

.botOrder_tgIcon {
    flex-shrink: 0;
    position: absolute;
    transform: rotate(-37.17deg);
    -webkit-transform: rotate(-37.17deg);
    -moz-transform: rotate(-37.17deg);
    -ms-transform: rotate(-37.17deg);
    -o-transform: rotate(-37.17deg);
}

.botOrder_dcIcon {
    flex-shrink: 0;
    position: absolute;
    transform: rotate(-29.173deg);
    -webkit-transform: rotate(-29.173deg);
    -moz-transform: rotate(-29.173deg);
    -ms-transform: rotate(-29.173deg);
    -o-transform: rotate(-29.173deg);
}

// Styles of common website components

// Link:
a {
    color: $link_color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $link_hover_color;
        text-decoration: none;
    }

    &:active {
        color: $link_active_color;
        text-decoration: none;
    }
}

// Titles
.title {
    color: #FFF;

    .title_colorful {
        background: linear-gradient(157deg, #4CF2FD 0%, #00757C 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .title_colorful_yellow {
        background: linear-gradient(153deg, #FFED4A 0%, #EE6213 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


@keyframes wave {
    0% {
        transform: translateY(-12%);
        -webkit-transform: translateY(-12%);
        -moz-transform: translateY(-12%);
        -ms-transform: translateY(-12%);
        -o-transform: translateY(-12%);
    }

    50% {
        transform: translateY(12%);
        -webkit-transform: translateY(12%);
        -moz-transform: translateY(12%);
        -ms-transform: translateY(12%);
        -o-transform: translateY(12%);
    }

    100% {
        transform: translateY(-12%);
        -webkit-transform: translateY(-12%);
        -moz-transform: translateY(-12%);
        -ms-transform: translateY(-12%);
        -o-transform: translateY(-12%);
    }
}

@keyframes wampusFly {
    0% {
        transform: translateY(-36px) rotate(7deg);
    }

    50% {
        transform: translateY(20px) rotate(-2deg);
    }

    100% {
        transform: translateY(-36px) rotate(7deg);
    }
}