$theme: #090447;
$theme_2: #18085e;
$theme_3: #502385;
$theme_4: #9e5070;
$dark_theme: #121212;
$GoldenButtonColor: #e29b00;
$GoldenButtonHoverColor: #ffb30f;
$ButtonColor: #7227ff;
$ButtonHoverColor: #8d4fff;

$link_color: #3AA6D0;
$link_hover_color: #5ec4ec;
$link_active_color: #d03a3a;

$theme_gradient: linear-gradient(135deg, #0E085E 0%, #8A3E5E 100%);
$footer_gradient: linear-gradient(135deg, #3B0A66 0%, #530233 99.99%);

$font_family: Roboto, Tahoma, Arial, Helvetica, sans-serif;
$unhighlighted_color: #cfcfcf;

* {
    font-family: $font_family;
}

.app {
    overflow-x: hidden;
    font-family: $font_family;
    color: white;

    .purple_light {
        position: absolute;
        left: -10px;
        z-index: -1;
        background: rgba(0, 0, 0, 0);
        width: 0px;
        height: 265px;
        flex-shrink: 0;
    }

    .blue_light {
        position: absolute;
        z-index: -1;
        background: rgba(0, 0, 0, 0);
        width: 0px;
        height: 25px;
        flex-shrink: 0;
    }

    .yellow_light {
        position: absolute;
        z-index: -1;
        background: rgba(0, 0, 0, 0);
        width: 0px;
        height: 75px;
        flex-shrink: 0;
    }
}

.signup_container {
    margin-top: 200px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: $font_family;
    color: #ffffff;

    .signup_title {
        margin: 10px;
        font-size: 34px;
        font-weight: 500;
    }

    .signup_subtitle {
        margin-bottom: 16px;
        font-size: 17px;
        font-weight: 300;
    }

    .signup_form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        * {
            font-size: 20px;
            margin: 5px;
        }

        input {
            width: 300px;
            padding: 4px;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
}

// Styles of common website components

// Link:
a {
    color: $link_color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $link_hover_color;
        text-decoration: none;
    }

    &:active {
        color: $link_active_color;
        text-decoration: none;
    }
}

@keyframes wave {
    0% {
        transform: translateY(-12%);
        -webkit-transform: translateY(-12%);
        -moz-transform: translateY(-12%);
        -ms-transform: translateY(-12%);
        -o-transform: translateY(-12%);
    }

    50% {
        transform: translateY(12%);
        -webkit-transform: translateY(12%);
        -moz-transform: translateY(12%);
        -ms-transform: translateY(12%);
        -o-transform: translateY(12%);
    }

    100% {
        transform: translateY(-12%);
        -webkit-transform: translateY(-12%);
        -moz-transform: translateY(-12%);
        -ms-transform: translateY(-12%);
        -o-transform: translateY(-12%);
    }
}

@keyframes wampusFly {
    0% {
        transform: translateY(-36px) rotate(7deg);
        -webkit-transform: translateY(-36px) rotate(7deg);
        -moz-transform: translateY(-36px) rotate(7deg);
        -ms-transform: translateY(-36px) rotate(7deg);
        -o-transform: translateY(-36px) rotate(7deg);
}

    50% {
        transform: translateY(20px) rotate(-2deg);
    }

    100% {
        transform: translateY(-36px) rotate(7deg);
    }
}