.wampus {
     width: 500px;
}

.tgIcon_big {
     width: 120px;
     height: 120px;
     bottom: 60px;
     right: 360px;
}

.discordIcon {
     width: 125px;
     height: 125px;
     flex-shrink: 0;
     top: 0px;
     right: 300px;
}

.bubble4 {
     right: -30px;
     bottom: 50px;
     width: 190px;
     height: 190px;
     flex-shrink: 0;
}

.bubble4_1 {
     top: -40px;
     left: -70px;
}

.chatGPT {
     bottom: 80px;
     left: -160px;
}

.spotify {
     width: 200px;
     height: 134px;
     top: 160px;
     left: -300px;
}

.badgeRain {
     top: 380px;
}

.mobile_container {
     display: none;
}

.header {
     height: 70px;
}

.header_content_container {
     width: 1170px;
}

.net_big_items {
     grid-template-columns: 420px 420px;
     grid-template-rows: 80px 80px;
}

.other_networks {
     width: 1170px;
}

.absolute_content {
     width: 1170px;
}

.goodList {
     width: 1170px;
     justify-content: space-between;
}

.goodItem {
     margin: 0;
}

.goodList_title {
     width: 1170px;
}

.hr {
     width: 1170px;
}

.purple_light {
     top: 1050px;
     box-shadow: 0px 0px 250px 445px rgba(127, 17, 224, 0.125);
}

.blue_light {
     box-shadow: 0px 0px 250px 445px rgba(22, 37, 255, 0.1);
     top: 1990px;
     left: 1760px;
}

.title {
     font-size: 42px;
     font-weight: 600;
     font-style: normal;
     line-height: normal;
     background-clip: text;
}

.botOrder_subtitle {
     font-size: 24px;
     color: #9B9B9B;
}

.burger_menu {
     display: none;
}

.inner_header {
     width: 1170px;
}

.header_nav {
     display: flex;
}

.nav_block {
     padding: 0 24px !important;
}

// .botOrder_container {
//      width: 1170px;
//      height: 246px; 
//      margin: 61px auto;
// }

// .botOrder_subtitle {
//      margin-top: 6px;
//      font-size: 24px;
// }