.wampus {
    top: -20px;
    right: -100px;
    width: 500px;
}

.tgIcon_big {
    width: 120px;
    height: 120px;
    bottom: 60px;
    right: 360px;
}

.discordIcon {
    width: 125px;
    height: 125px;
    flex-shrink: 0;
    top: 0px;
    right: 300px;
}

.bubble4 {
    right: -30px;
    bottom: 50px;
    width: 190px;
    height: 190px;
    flex-shrink: 0;
}

.bubble4_1 {
    width: 200px;
    height: 200px;
    top: -40px;
    left: -70px;
}

.chatGPT {
    bottom: 80px;
    left: -160px;
}

.spotify {
    width: 200px;
    height: 134px;
    top: 160px;
    left: -300px;
}

.badgeRain {
    top: 380px;
}

.main_container {
    width: 1170px;
}

.main_text {
    width: 60%;
}

.header {
    height: 70px;
}

.header_content_container {
    width: 1170px;
}

.net_big_items {
    grid-template-columns: 420px 420px;
    grid-template-rows: 80px 80px;
}

.other_networks {
    width: 1170px;
}

.absolute_content {
    width: 1170px;
}

.goodList {
    width: 1170px;
    justify-content: space-between;
}

.goodItem {
    margin: 0;
}

.goodList_title {
    width: 1170px;
}

.hr {
    width: 1170px;
}

.purple_light {
    top: 1050px;
    box-shadow: 0px 0px 250px 445px rgba(127, 17, 224, 0.125);
}

.blue_light {
    box-shadow: 0px 0px 250px 445px rgba(22, 37, 255, 0.1);
    top: 1990px;
    left: 1760px;
}

.title {
    font-size: 42px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    background-clip: text;
}

.burger_menu {
    display: none;
}

.inner_header {
    width: 1170px;
}

.header_nav {
    display: flex;
}

.nav_block {
    padding: 0 24px !important;
}

.goodScript {
    width: 587px;
    height: 145px;
    padding: 15px 20px;
}

.goodScript_left_up_title {
    font-weight: 700;
    font-size: 24px;
}

.goodScript_left_up_cost {
    font-weight: 500;
    font-size: 18px;
}

.goodScript_left_button {
    width: 105px;
    height: 36px;
    flex-shrink: 0;
    font-size: 16px !important;
}

.goodScript_right {
    width: 268px;
    height: 100%;
}

.goodScript_right_description {
    font-size: 16px;
}

.goodScript_right_more {
    font-size: 16px;
}

.botOrder_videoBlock {
    margin-right: 49px;
    width: 499px;
    height: 304px;
}

.botOrder_bots {
    width: 499px;
}

.botOrder_desc {
    margin-top: 52px;
    min-height: 150px;
}

.botOrder_subtitle {
    font-size: 24px;
    color: #9B9B9B;
}

.botOrder_scriptsBlock {
    width: 587px;
    height: 304px;
}