.discordIcon {
     width: 120px;
     top: 220px;
     right: -10px;
}

.bubble4 {
     left: -45px;
     top: 130px;
     width: 180px;
     height: 180px;
}

.wampus {
     right: -100px;
     width: 400px;
     top: 190px;
}

.tgIcon_big {
     width: 180px;
     top: 210px;
     right: 170px;
}

.bubble4_1 {
     top: 250px;
     right: 30px;
     width: 250px;
}

.bubble1 {
     width: 360px;
     height: 429px;
     top: 500px;
     display: block;
}

.badgeRain {
     top: 380px;
}

.mobile_container {
     display: none;
}

.header {
     height: 70px;
}

.header_content_container {
     width: 90%;
}

.net_big_items {
     grid-template-columns: 420px 420px;
     grid-template-rows: 80px 80px;
}

.other_networks {
     width: 95%;
}

.absolute_content {
     width: 100%;
}

.goodList {
     width: 95%;
     justify-content: center;
}

.goodItem {
     margin: 4%;
}

.goodList_title {
     width: 95%;
}

.hr {
     width: 95%;
}

.purple_light {
     top: 1750px;
     box-shadow: 0px 0px 250px 445px rgba(127, 17, 224, 0.125);
}

.blue_light {
     box-shadow: 0px 0px 250px 445px rgba(22, 37, 255, 0.1);
     top: 2700px;
     right: 10px;
}

.title {
     font-size: 32px;
     font-weight: 600;
     font-style: normal;
     line-height: normal;
     background-clip: text;
}

.botOrder_subtitle {
     font-size: 19px;
     color: #9B9B9B;
}

.burger_menu {
     display: none;
}

.inner_header {
     width: 95%;
}

.header_nav {
     display: flex;
}

.nav_block {
     padding: 0 10px !important;
}

// .botOrder_container {
//      width: 90%;
//      height: 246px; 
//      margin: 61px auto;
// }

// .botOrder_subtitle {
//      margin-top: 9px;
//      font-size: 22px;
// }