.discordIcon {
     width: 120px;
     top: 220px;
     right: -10px;
}

.bubble4 {
     left: -45px;
     top: 130px;
     width: 180px;
     height: 180px;
}

.wampus {
     right: -100px;
     width: 400px;
     top: 190px;
}

.tgIcon_big {
     width: 180px;
     top: 210px;
     right: 170px;
}

.bubble4_1 {
     top: 250px;
     right: 30px;
     width: 250px;
}

.bubble1 {
     width: 360px;
     height: 429px;
     top: 500px;
     display: block;
}

.main_title {
     font-size: 40px;
}

.main_text {
     font-size: 18px;
     width: 94%;
}

.main_content_container {
     width: 100%;
}

.badgeRain {
     top: 380px;
}

.mobile_container {
     display: none;
}

.main_container_images {
     display: block;
}

.main_container_window {
     display: flex;
     margin: 3%;
     padding: 24px;
     width: 520px;
}

.main_container {
     height: 700px;
}

.header {
     height: 70px;
}

.header_content_container {
     width: 90%;
}

.net_big_items {
     grid-template-columns: 420px 420px;
     grid-template-rows: 80px 80px;
}

.other_networks {
     width: 95%;
}

.absolute_content {
     width: 100%;
}

.goodList {
     width: 95%;
     justify-content: center;
}

.goodItem {
     margin: 4%;
}

.goodList_title {
     width: 95%;
}

.hr {
     width: 95%;
}