.wampus {
    display: none;
}

.tgIcon_big {
    top: -100px;
    left: 300px;
    width: 70px;
}

.discordIcon {
    width: 90px;
}

.bubble4 {
    display: none;
}

.bubble4_1 {
    display: none;
}

.chatGPT {
    bottom: 80px;
    left: -160px;
}

.spotify {
    right: 0;
    bottom: -170px;
    width: 200px;
}

.badgeRain {
    top: 440px;
}

.header {
    height: 86px;
}

.main_container {
    margin: 140px auto;
    width: 95%;
}

.main_text {
    width: 90%;
}

.main_modbile_title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.main_monile_content {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.header_content_container {
    width: 95%;
}

.net_big_items {
    grid-template-columns: 420px;
    grid-template-rows: 90px 90px 90px 90px;
}

.other_networks {
    width: 95%;
}

.absolute_content {
    width: 100%;
}

.goodList {
    width: 95%;
    justify-content: center;
}

.goodItem {
    margin: 1.5%;
}

.goodList_title {
    width: 95%;
}

.hr {
    width: 95%;
}

.purple_light {
    top: 1750px;
    box-shadow: 0px 0px 250px 445px rgba(127, 17, 224, 0.09);
}

.blue_light {
    box-shadow: 0px 0px 250px 445px rgba(22, 37, 255, 0.075);
    top: 2700px;
    right: 10px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    background-clip: text;
}

.botOrder_subtitle {
    font-size: 17px;
    color: #9B9B9B;
}

.burger_menu {
    display: flex;
}

.inner_header {
    width: 93%;
}

.header_nav {
    display: none;
}

.goodScript {
    width: 280px;
    padding: 8px 10px;
}

.goodScript_mobile_up {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.goodScript_mobile_up_title {
    font-size: 18px;
    font-weight: 700;
}

.goodScript_mobile_up_cost {
    font-size: 15px;
    font-weight: 500;
}

// .botOrder_container {
//      width: 90%;
//      height: 275px;
//      margin: 46.5px auto;
// }

// .botOrder_subtitle {
//      margin-top: 9px;
//      font-size: 20px;
// }