// COMMON STYLES

.container {
    width: 96%;
    margin: auto;
}

.title {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    background-clip: text;
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    background-clip: text;
}

.smallTitle {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    background-clip: text;
}

.smallSubtitle {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    background-clip: text;
}

.description {
    width: 100%;
}

.buttonFontSize {
    font-size: 18px !important;
}

// OTHER STYLES

.wampus {
    display: none;
}

.tgIcon_big {
    top: -100px;
    left: 300px;
    width: 70px;
}

.discordIcon {
    width: 90px;
}

.bubble4 {
    display: none;
}

.bubble4_1 {
    display: none;
}

.chatGPT {
    bottom: 80px;
    left: -160px;
}

.spotify {
    right: 0;
    bottom: -170px;
    width: 200px;
}

.badgeRain {
    top: 440px;
}

.main_text {
    width: 90%;
}

.net_big_items {
    grid-template-columns: 420px;
    grid-template-rows: 90px 90px 90px 90px;
}

.goodList {
    justify-content: start;
}

.goodItem {
    margin-right: 3%;
}

.purple_light {
    top: 1750px;
    box-shadow: 0px 0px 250px 445px rgba(127, 17, 224, 0.09);
}

.blue_light {
    box-shadow: 0px 0px 250px 445px rgba(22, 37, 255, 0.075);
    top: 2700px;
    right: 10px;
}

.yellow_light {
    display: none;
}

.burger_menu {
    display: flex;
}

.header_nav {
    display: none;
}

.goodScript {
    width: 310px;
    padding: 8px 10px;
}

.goodScript_mobile_up {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.goodScript_mobile_up_title {
    font-size: 20px;
    font-weight: 700;
}

.goodScript_mobile_up_cost {
    font-size: 15px;
    font-weight: 500;
}

.botOrder_videoBlock {
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 30.3345%;
    padding-bottom: 30.3345%;

    &>video {
        width: 100%;
    }
}

.botOrder_bots {
    width: 100%;
}

.botOrder_desc {
    width: 100%;
    margin-top: 0px;
    min-height: 210px;
}

.botOrder_dcIcon {
    width: 80px;
    height: 80px;
    bottom: 15px;
    left: 150px;
    opacity: 0.4;
}

.botOrder_tgIcon {
    width: 105px;
    height: 105px;
    bottom: -45px;
    left: -55px;
    opacity: 0.6;
}

.botOrder_scriptsBlock {
    width: 370px;
    height: 230px;
}

.botOrder_scriptsBlock_subtitle {
    top: -50px;
}

.botOrder_scripts {
    width: 100%;
}

.botOrder_button {
    padding: 16px 40px !important;
}

.botOrder_GPTIcon {
    bottom: -32px;
    left: 80%;
}

.job_bubble {
    display: none;
}