.wampus {
    width: 550px;
    top: 150px;
    left: calc(50% - (550px/2));
}

.tgIcon_big {
    width: 200px;
    top: 250px;
    left: 0;
}

.discordIcon {
    width: 150px;
    top: 550px;
    right: 200px;
}

.bubble4 {
    display: none;
}

.bubble4_1 {
    width: 260px;
    height: 260px;
    top: 230px;
    right: 40px;
}

.chatGPT {
    width: 100px;
    top: 570px;
    left: 200px;
}

.spotify {
    display: none;
}

.badgeRain {
    top: 440px;
}

.main_container {
    margin: 140px auto;
    width: 95%;
}

.main_text {
    width: 80%;
    margin-top: 600px;
}

.main_modbile_title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.main_monile_content {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.header {
    height: 86px;
}

.header_content_container {
    width: 93%;
}

.net_big_items {
    grid-template-columns: 420px;
    grid-template-rows: 90px 90px 90px 90px;
}

.other_networks {
    width: 95%;
}

.absolute_content {
    width: 100%;
}

.goodList {
    width: 95%;
    justify-content: center;
}

.goodItem {
    margin: 2.5%;
}

.goodList_title {
    width: 95%;
}

.hr {
    width: 95%;
}

.purple_light {
    top: 1750px;
    box-shadow: 0px 0px 250px 445px rgba(127, 17, 224, 0.09);
}

.blue_light {
    box-shadow: 0px 0px 250px 445px rgba(22, 37, 255, 0.075);
    top: 2700px;
    right: 10px;
}

.title {
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    background-clip: text;
}

.burger_menu {
    display: flex;
}

.inner_header {
    width: 95%;
}

.header_nav {
    display: none;
}

.goodScript {
    width: 380px;
    padding: 8px 10px;
}

.goodScript_mobile_up {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.goodScript_mobile_up_title {
    font-size: 21px;
    font-weight: 700;
}

.goodScript_mobile_up_cost {
    font-size: 16px;
    font-weight: 500;
}

.botOrder_videoBlock {
    width: 499px;
    height: 304px;
}

.botOrder_bots {
    width: 100%;
}

.botOrder_desc {
    width: 100%;
    margin-top: 0px;
    min-height: 200px;
}

.botOrder_subtitle {
    margin-top: 16px;
    font-size: 24px;
    width: 500px;
    color: #9B9B9B;
}

.botOrder_dcIcon {
    width: 90px;
    height: 90px;
    bottom: 10px;
    left: 170px;
    opacity: 0.35;
}

.botOrder_tgIcon {
    width: 125px;
    height: 125px;
    bottom: -55px;
    left: -65px;
    opacity: 0.55;
}

.botOrder_scriptsBlock {
    width: 370px;
    height: 220px;
}

.botOrder_scriptsBlock_subtitle {
    top: -50px;
}

.botOrder_scripts {
    width: 100%;
}

.botOrder_button {
    font-size: 23px !important;
    padding: 16px 42px !important;
}

.botOrder_GPTIcon {
    bottom: -70px;
    left: 60%;
}

.job_container {
    width: 95%;
}

.job_bubble {
    display: none;
}

.job_text {
    width: 100%;
}