.discordIcon {
     width: 200px;
     top: 340px;
     left: calc(50% - (250px/2) + 140px);
}

.bubble4 {
     display: none;
}

.wampus {
     width: 550px;
     top: 300px;
     left: calc(50% - (550px/2));
}

.tgIcon_big {
     width: 250px;
     top: 320px;
     left: calc(50% - (320px/2) - 170px);
}

.bubble4_1 {
     top: 410px;
     width: 320px;
     left: calc(50% - (320px/2) - 30px);
}

.bubble1 {
     display: none;
}

.main_title {
     display: none;
}

.main_text {
     display: none;
}

.main_content_container {
     width: 100%;
}

.badgeRain {
     top: 440px;
}

.mobile_container {
     display: flex;
}

.main_container_images {
     display: none;
}

.main_container_window {
     display: none;
}

.main_container {
     height: 900px;
}

.header {
     height: 86px;
}

.header_content_container {
     width: 93%;
}

.net_big_items {
     grid-template-columns: 420px;
     grid-template-rows: 90px 90px 90px 90px;
}

.other_networks {
     width: 95%;
}

.absolute_content {
     width: 100%;
}

.goodList {
     width: 95%;
     justify-content: center;
}

.goodItem {
     margin: 2.5%;
}

.goodList_title {
     width: 95%;
}

.hr {
     width: 95%;
}

.purple_light {
     top: 1750px;
     box-shadow: 0px 0px 250px 445px rgba(127, 17, 224, 0.09);
}

.blue_light {
     box-shadow: 0px 0px 250px 445px rgba(22, 37, 255, 0.075);
     top: 2700px;
     right: 10px;
}

.title {
     font-size: 28px;
     font-weight: 600;
     font-style: normal;
     line-height: normal;
     background-clip: text;
}

.botOrder_subtitle {
     font-size: 17px;
     color: #9B9B9B;
}
 

// .botOrder_container {
//      width: 90%;
//      height: 246px; 
//      margin: 61px auto;
// }

// .botOrder_subtitle {
//      margin-top: 9px;
//      font-size: 20px;
// }