@import "../../../styles/App.module.scss";

.benefits {
    position: relative;
    width: 100%;
    margin-top: 150px;

    .container {
        
        .item {
            margin: 22px 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            &>img {
                height: 64px;
                width: 64px;
                margin-right: 24px;
            }
        }
    }
}