//@import "../../styles/App.module.scss";

.goodScript {
    box-sizing: border-box;
    flex-shrink: 0;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-flow: row nowrap;

    .left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 100%;

        &_up {
            display: flex;
            flex-flow: column nowrap;

            &_title {
                color: #FFF;
                font-style: normal;
                line-height: normal;
                margin: 0;
                margin-bottom: 4px;
            }

            &_cost {
                color: #E29B00;
                font-style: normal;
                line-height: normal;
                margin: 0;
            }
        }

        &_button {
            flex-shrink: 0;
            border-radius: 10px;
            margin: 0;
            padding: 0 !important;
            box-sizing: content-box;
        }
    }

    .right {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;

        &_description {
            color: #C7C7C7;
        }
    }

    .mobile {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-flow: column nowrap;

        &_up {
            &_title {
                color: #FFF;
                font-style: normal;
                line-height: normal;
                margin: 0;
                margin-bottom: 3px;
            }

            &_cost {
                color: #E29B00;
                font-style: normal;
                line-height: normal;
                margin: 0;
            }
        }

        &_middle {
            color: #C7C7C7;
            width: 100%;
        }

        &_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}