@import "../../../../styles/App.module.scss";

.job {
    position: relative;
    width: 100%;
    margin-top: 150px;

    .container {
        margin: auto;

        .text {

            &_description {
                color: #9B9B9B;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &>p {
                    margin-top: 1.5em;
                    margin-bottom: 1.5em;
                }
            }
        }
    }

    .bubble {
        position: absolute;
        opacity: 0.6;
        right: 0;
    }
}