@import "../../styles/App.module.scss";

.item {
    margin-right: 16px;
    width: 276px;
    flex-shrink: 0;

    &_image {
        margin: 0 auto;
        margin-top: 16px;
        border-radius: 10px;
        width: 276px;
        height: 276px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;

        .cost_container {
            display: flex;
            align-items: center;

            .cost {
                font-size: 28px;
                font-weight: 700;
                border-radius: 10px;
                margin-right: 6px;
                font-style: normal;
                line-height: normal;
                flex-shrink: 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .old_cost {
                color: #4E4E4E;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: line-through;
            }
        }
    }

    &_middle {
        height: 72px;

        .title {
            color: #BFBFBF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &_bottom {
        display: flex;
        justify-content: start;
        align-items: center;

        .star {
            margin-right: 8px;
        }

        .reviews {
            color: #7E7E7E;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.item_phone {
    margin-right: 10px;
    margin-bottom: 32px;
    width: 200px;
    flex-shrink: 0;

    &_image {
        margin: 0 auto;
        margin-top: 16px;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    &_top {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 40px;

        .cost_phone {
            margin-right: 6px;
            color: #F04EFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .old_cost_phone {
            color: #4E4E4E;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: line-through;
        }
    }

    &_middle {
        height: 64px;

        .title_phone {
            color: #BFBFBF;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &_bottom {
        display: flex;
        align-items: center;
        justify-content: start;

        .star_phone {
            margin-right: 6px;
        }

        .reviews_phone {
            color: #7E7E7E;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &:hover {
        cursor: pointer;
    }
}