@import "../../styles/App.module.scss";

.item {
    width: 276px;
    height: 460px;
    flex-shrink: 0;
    border-radius: 10px;

    &_image {
        margin: 0 auto;
        margin-top: 16px;
        border-radius: 10px;
        width: 276px;
        height: 276px;
    }

    &_top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;

        .cost_container {
            display: flex;
            align-items: center;

            .cost {
                font-size: 28px;
                font-weight: 700;
                border-radius: 10px;
                margin-right: 6px;
                font-style: normal;
                line-height: normal;
                flex-shrink: 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .old_cost {
                color: #4E4E4E;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: line-through;
            }
        }

        .card_container {
            display: flex;
            align-items: start;
            justify-content: start;
        }
    }

    &_middle {
        height: 72px;

        .title {
            color: #BFBFBF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &_bottom {
        display: flex;
        justify-content: start;
        align-items: center;

        .star {
            margin-right: 8px;
        }

        .reviews {
            color: #7E7E7E;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &:hover {
        cursor: pointer;
    }
}