@import '../../styles/App.module.scss';

.container {
    margin: 0 auto;

    .textBox {
        width: 100%;
        margin-top: 180px;
        margin-bottom: 120px;

        .title {
            margin-bottom: -10px;
            text-align: center;
            color: #ffffff;
        }

        .subtitle {
            text-align: center;
            color: #BFBFBF;
        }
    }

    .searchBox {
        width: 100%;
        margin: 60px 0px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        height: 64px;
        border: 2px solid #C3C3C3;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .searchForm {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .searchInput {
                all: unset;
                width: calc(100% - 120px);
                padding-left: 32px;
                color: #C3C3C3;
                box-sizing: border-box;
            }

            .searchButton {
                height: 64px;
                background-color: #C3C3C3;
                margin: 0;
                border-radius: 0px 100px 100px 0px;
                -webkit-border-radius: 0px 100px 100px 0px;
                -moz-border-radius: 0px 100px 100px 0px;
                -ms-border-radius: 0px 100px 100px 0px;
                -o-border-radius: 0px 100px 100px 0px;
            }

            .searchIcon {
                width: 32px;
                height: 32px;
                margin: 0 auto;
            }
        }
    }
}